$primary-color: #cabcb8;
$secondary-color: #dbe6ff;
$highlight-color: #8A0D23;

$text-color: #725b55;

$hover-color: #a59a97;

$regular: Inter-Regular;
$bold: Inter-Bold;

$min-vw: 37.5rem;
$max-vw: 144rem;