@import '@/styles/modules/global.scss';

.form {
    width: 200px;
    display: flex;
    gap: 1rem;
    margin: 5rem auto;
    font-family: Inter-Regular;
    font-size: 1.5rem;
    input {
        border:1px solid $primary-color;
        padding: 1rem 3rem 1rem 1rem;
        border-radius: 5px;
    }
    button {
        background-color: $primary-color;
        border-radius: 5px;
        padding: 0 1rem;
        color: white;
        cursor: pointer;
    }
}